body{
   font-family: 'Montserrat', sans-serif; 
   font-size: 18px;
   color:#2B3541;
   
}
header{
    max-width: 1920px;
    margin: 0 auto;
    padding-top: 40px;
    padding-left:52px;
    padding-right: 52px;
    margin-bottom: 20px;
}

.nav-menu{
    width: 1140px;
    display: flex;
    justify-content: flex-start;
    padding:0;
    list-style-type: none;
    color: #2B3541;
    line-height: 150%;
    margin:0;
    padding-top: 10px;
}
a:link{
    color:rgba(24, 31, 39, 1);
}

.nav-item{
    padding-left: 20px;
    padding-right: 20px;
}
.nav-item:first-child{
    padding-left: 0;
}
.nav-logo{
    display: flex;
    justify-content: space-between;
}

.nav-link{
    text-decoration: none;
}
.nav-link:hover{
    padding-bottom: 10px;
    border-bottom: 1px solid #2B3541;
    cursor: pointer;
}
.nav-social{
    padding-top: 9px;
}
.social{
    transition: 1s ease;
    padding-left: 30px;
}

.social:hover{
    transform: scale(1.2);
}
main{
    display:flex;
}
main,
section,
form,
.footer-top,
.footer-bottom{
    max-width: 1140px;
    margin: 0 auto; 
}

.section-main{
    display: inline-block;
    max-width: 686px;
    position:absolute;
    top:321px;
    margin: 0;
}
.title-h1{
    font-weight: 700;
    font-size: 48px;
    line-height: 125%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    max-width: 680px;
    padding-bottom: 40px;
    z-index:1;
}
.number{
    font-size: 40px;
    line-height: 125%;
    color: #2B3541;
    margin: 0;
    padding-bottom: 3px;
    padding-top: 42px;
    font-weight: normal;
    text-transform: none;
}
.section-main-text {
    font-size: 18px;
    line-height: 150%;
    padding-left: 75px;
    max-width: 341px;
    margin-bottom: 30px;
    text-transform: none;
    font-style: normal;
    font-weight: normal;
}
.details{
    width: 268px;
    height: 64px;
    background: #FBF138;
    box-shadow: 0px 13px 24px rgba(251, 241, 56, 0.3);
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:#2B3541;
    font-weight: 700;
    border:none;
    margin-left:75px;
   
}
.details:hover{
    width: 268px;
    height: 64px;
    background: #2B3541;
    box-shadow: 0px 13px 24px rgba(70, 86, 106, 0.2);
    color:#FBF138;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    cursor: pointer;
    transition: 1s ease;
}

.section-photo{
    position: relative;
    left: 340px;
}
.section-main{
    position: absolute;
    top: 300px;
    margin:0;
}
.arrow{
transform: translate(81px,-58px);
}

.title-h3{
    font-weight: 700;
    font-size: 40px;
    line-height: 125%;
    color: #2B3541;
    margin:0;
    padding-top:19px;
}
.section-events{
    margin-top: 98px;
    padding-bottom: 40px;
    margin-bottom: 89px;
}
.section-events .title-h3{
    padding-top: 3px;
    padding-bottom: 38px;
}
.events{
    display: flex;
    justify-content: space-between;
    position: relative;
}
.events-01,
.events-02,
.events-03{
    flex: 0 0 calc(32% + 1px);
    height: 600px;
}
.events-01{
    background-image: url(/img/maraphon.png);
    width: 100%;
}
.events-02{
    background-image: url(/img/Vebinar\ 1.png);
    width: 100%;
}
.events-03{
    background-image: url(/img/Vebinar\ 2.png);
    width: 100%;
}
.events-container{
    width: 100%;
    background: linear-gradient(180deg, rgba(251,241,56,0.3) 0%, rgba(253, 249, 182, 0) 100%);
    height: 600px;
}
.date{
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    padding-top: 30px;
    padding-left: 30px;
    opacity: 0.4;
    
}
.name{
    font-weight: 700;
    font-size: 28px;
    line-height: 125%;
    padding-top: 19px;
    padding-left: 30px;
    opacity: none;
}
.events-container p{
    margin:0 auto;
    
}
.events-border{
    background: rgba(251, 241, 56, 1);
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    color: #2B3541;
    border: none;
    z-index:1;
    margin-top: 381px;
    padding: 6px 9px;
    margin-left: 226px;
}
.events-container:hover{
    background-image: url(/img/gradient2.png);

}
.events-container:hover .events-border{
    background: transparent;
    color: transparent;
}
.participate{
    background: transparent;
    color: transparent;
    border:none;

}
.events-container:hover .participate{
    background: #2B3541;
    box-shadow: 0px 13px 24px rgba(70, 86, 106, 0.28);
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FBF138;
    width: 221px;
    top:185px;
    margin:0;
    margin-top:40px;
    margin-left: 30px;
    padding-top:15px;
    padding-bottom: 15px;
    transition: 0.2ms ease;
}
.section-training-title{
    display: flex;
    justify-content: space-between;
    margin-bottom: 36px;
}
.section-training-title .title-h3{
    padding-top: 29px;
    margin:0;
}
.training-date{
    margin-top: 40px;
    font-weight: 700;
    font-size: 28px;
    line-height: 125%;
}
.training-sport{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 135px);
    grid-gap: 20px;
    height: 100%;
}
.card-box{
    padding-left: 30px;
    padding-right: 30px;
    padding-top:21px;
}
.card-box-active{
    padding: 10px 30px;
    
}
.card-text-active{
    color:transparent;
    }
.card-box:hover .card-text-active{
    font-size: 18px;
    line-height: 150%;
    color: #2B3541;
    margin:0;
    padding-top: 8px;
    /*transform:translateY(50px);*/
}
.card-box:hover{
   background: linear-gradient(180deg, #FBF138 0%, rgba(253, 249, 182, 0.45) 100%);
    box-shadow: 0px 13px 30px rgba(186, 180, 69, 0.2);
    height:94%;
    /*transform:translateY(-50px);*/
    transition-duration: 0.2s;
    transition-timing-function: linear;
}

.card-box:hover img{
    padding-top:10px;
    padding-bottom:15px;
}

.card-date{
    color: rgba(1, 1, 1, 1);
    font-size: 18px;
    line-height: 150%;
    color: #010101;
    opacity: 0.7;
    text-align: right;
    margin: 0;
}
.card-title{
    font-weight: 700;
    font-size: 18px;
    line-height: 125%;
    color: #2B3541;
    margin:0;
}

.card-1{
    border: 1px solid rgba(43, 53, 65, 1);
    grid-column: 1/2;
    grid-row: 1/3;
}
.card-img-1{
    padding-top:65px;
    padding-bottom: 40px;

}
.card-2{
    border: 1px solid rgba(43, 53, 65, 1);
    grid-column: 2/3;
    grid-row: 1/4;
}
.card-img-2{
    padding-top:191px;
    padding-bottom: 40px;
}
.card-3{
    border: 1px solid rgba(43, 53, 65, 1);
    grid-column: 3/4;
    grid-row: 1/3;
}
.card-img-3{
    padding-top:80px;
    padding-bottom: 40px;
}
.card-4{
    background: linear-gradient(180deg, #FBF138 0%, rgba(253, 249, 182, 0.45) 100%);
    box-shadow: 0px 13px 30px rgba(186, 180, 69, 0.2);
    grid-column: 1/2;
    grid-row: 3/6;
}
.card-img-4{
    padding-top:73px;
    padding-bottom: 40px;
}
.card-text-visible{
    font-size: 18px;
    line-height: 150%;
    color: #2B3541;
    margin:0;
    padding-top:20px;
}
.card-5{
    border: 1px solid rgba(43, 53, 65, 1);
    grid-column: 2/3;
    grid-row: 4/6;
}
.card-img-5{
    padding-top:70px;
    padding-bottom: 40px;
}
.card-6{
    border: 1px solid rgba(43, 53, 65, 1);
    grid-column: 3/4;
    grid-row: 3/6;
}
.card-img-6{
    padding-top:200px;
    padding-bottom: 40px;
}
.subscribe{
    background:#F3F3F3;
    width: 100%;
    margin-top: 160px;
    padding-bottom: 83px;
   }
.subscribe-title-h3{
text-align: center;
padding-top: 0;
margin:0;
z-index:1;
position: relative;
margin-bottom: 41px;
}
.subscribe .title-h3{
    padding-top: 13px;
    margin-top: -23px;
}
.subscribe-circle{
    bottom: -55px;
    left: -307px;
    position: relative;
    z-index:-1;
}
form{
    display:block;
    text-align: center;

}
form input{
    width: 372px;
    height: 65px;
    border: none;
    background-color: #FFFFFF;
    color: rgba(43, 53, 65, 1);
    font-size: 18px;
    line-height: 150%;
    margin-right: 20px;
}
form input:focus{
    outline: none;
}
form input[type=submit]{
    width: 225px;
    height: 65px;
    background: #FBF138;
    box-shadow: 0px 13px 24px rgba(251, 241, 56, 0.2);
    color:rgba(43, 53, 65, 1);
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
form input[type=submit]:hover{
    background: #2B3541;
    box-shadow: 0px 13px 24px rgba(70, 86, 106, 0.2);
    color:#FBF138;
    cursor: pointer;
    transition: 1s ease;
}
.checkbox-text{
    padding-top: 14px;
    display: flex;
    justify-content: center;
    padding-right: 350px;
    color: #2B3541;
    opacity: 0.5;
    font-size: 11px;
    line-height: 150%;
    align-items: center;
    padding-bottom:18px;
}
.checkbox-text p{
    margin-top: 0;
    margin-bottom: 0;
    align-items: center;
}
.checkbox-text a:visited{
    color: #2B3541;
    opacity: 0.5;
}

[type="checkbox"]:checked{
    background-image: url(/icon/check_box.svg);
}

form input[type="text"]{
    color: #2B3541;
    opacity: 0.5;
}
[type="checkbox"]{
    box-sizing: border-box;
    margin-right: 3px;
    width: 18px;
    height: 18px;
    background-image: url(/icon/check\ box\ empty.svg);
}

.about{
    display: flex;
    padding-top:160px;
 justify-content: space-between;
}
.about-title .title-h3 {
    margin: 0;
    padding-top: 13px;
}

.title-text{
    font-size: 18px;
    line-height: 150%;  
    color: #2B3541;
    max-width: 483px;
    margin-bottom: 34px;
}
.registration{
    width: 225px;
    height: 65px;
    background: #FBF138;
    box-shadow: 0px 13px 24px rgba(251, 241, 56, 0.3);
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:#2B3541;
    font-weight: 700;
    border:none; 
}
.registration:hover{
    width: 225px;
    height: 65px;
    background: #2B3541;
    box-shadow: 0px 13px 24px rgba(70, 86, 106, 0.2);
    color:#FBF138;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    cursor: pointer;
    transition: 1s ease;
}
.about-title .title-h3{
    margin:0;
}
.about{
    margin-bottom: 80px;
}
.about-gradient{
    background: linear-gradient(180deg, rgba(251,241,56,0.3) 0%, rgba(253, 249, 182, 0) 100%);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.about-img{
    background-image: url(/img/trainer.png);
    background-repeat: no-repeat;
 width: 581px;
 height: 336px;
 right: 200px;
}

.advantages{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 120px;
    margin-top: -20px;
}

.advantages-title{
    font-weight: 700;
    font-size: 18px;
    line-height: 125%;
    color: #2B3541;
}
.advantages-text{
    font-size: 18px;
    line-height: 150%;
    color: #2B3541;
    opacity: 0.6;
}
.advantages-2 .advantages-title,
.advantages-2 .advantages-text,
.advantages-3 .advantages-title,
.advantages-3 .advantages-text,
.advantages-4 .advantages-title,
.advantages-4 .advantages-text{
    margin-left: 77px;
    margin-right: -37px;
}
footer{
    background:#F3F3F3;
    width: 100%;

}
.footer-top{
    display:flex;
    justify-content: space-between;
    padding-top: 58px;
}
.footer-logo{
    margin:0;
}
.footer-nav{
    list-style-type: none;
    display: flex;
    margin:0;
    font-size: 14px;
    line-height: 150%;
    color: #2B3541;
    padding-top: 5px;
}
.footer-nav-item{
    padding-right: 80px;
}
.footer-nav-link:hover{
    padding-bottom: 10px;
    border-bottom: 1px solid #2B3541;
    cursor: pointer;

}
.footer-nav-link{
    text-decoration: none;
}
a:visited{
    color:rgba(24, 31, 39, 1);
}
.footer-nav-link-mail{
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: #2B3541;
    text-decoration: none;
    padding-top: 12px;
}
.footer-nav-info{
    list-style-type: none;
}
li>.footer-nav-link-mail{
    padding-top: 12px;
}
.footer-circle{
    bottom: 16px;
    left: 115px;
    position: relative;
    z-index:0;
}
.footer-nav-link-mail{
    text-align: center;
    margin:0;
    z-index:1;
    position: relative;
    padding-top: 7px;
    padding-left: 31px;
}
.footer-bottom{
    display: flex;
    justify-content: space-between;
    margin-top: -36px;
}
.footer-bottom p{
    font-size: 14px;
line-height: 150%;
color: #2B3541;
opacity: 0.3;
}
.footer-top .nav-social{
    padding-top: 2px;
}
.form-participate{
    position:fixed;
    width: 100%;
    height: 100%;
    top: 42px;
    left: 645px;
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 580px;
    position:center;
    background: #F3F3F3;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: all 0.8s ease 0s;
    transform: translate(0px, -100px);
}
.form-participate:target{
opacity: 1;
visibility: visible;
transform: translate(0px, 0px);
}
.form-participate-body{
    padding: 30px 50px 80px 50px;

}
.form-participate-title{
    font-weight: bold;
    font-size: 28px;
    line-height: 125%;
    text-align: center;
    color: #2B3541;
    z-index: 1;
    position: relative;
}
.form-participate-text{
    width: 345px;
    padding-left: 80px;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    color: #2B3541;
}
.form-participate input[type=submit]{
    width: 100%;
    height: 65px;
    background: #FBF138;
    box-shadow: 0px 13px 24px rgba(251, 241, 56, 0.2);
    color:rgba(43, 53, 65, 1);
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-top:40px;
}
.form-participate input[type=submit]:hover{
    background: #FBF138;
    box-shadow: 0px 13px 24px rgba(251, 241, 56, 0.2);
    color:rgba(43, 53, 65, 1);
    cursor: pointer;
    transition: 1s ease;
}
.form-participate input[type="text"] {
    margin-bottom: 20px;
    margin-top: 40px;
    width: 500px;
}
.form-participate input[type="tel"] {
    margin-top: -8px;
    width: 500px;
    color: #2B3541;
    opacity: 0.5;
}
.form-participate-circle{
    position:absolute;
    left: 97px;
    top:19px;
}
.form-participate-body-close{
    font-size: 30px;
    text-decoration: none;
    right:10px;
    top:10px;
    position:absolute;
}
.training-sport-mobile{
    display: none;
}
.events-mobile{
    display: none;
}
.events-03-mobile {
    display: none;
}

@media(min-width: 901px){
.header-mobile{
    display: none;
}
}
/*
@media(max-width: 900px){
    header{
        display:none;
    }
    .header-mobile{
        display: flex;
        justify-content: space-between;
    }

.header-mobile{
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 30px;
}

.menu{
    background: transparent;
    border: none;
    cursor: pointer;
    align-items: center;
}
.nav-social{
    padding-top:0;
}
}*/
@media(max-width: 360px){
    header{
        display:none;
    }
    .header-mobile{
        display: flex;
        justify-content: space-between;
    }

.header-mobile{
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 30px;
    
}

.menu{
    background: transparent;
    border: none;
    cursor: pointer;
    align-items: center;
    width: 40px;
}
.nav-social{
    padding-top:0;
}
.photo{
    max-width: 100%;
}
.section-main {
    position: absolute;
    top: 90px;
    margin: 10px;
}
    .title-h1 {
        font-weight: 700;
        font-size: 20px;
        line-height: 125%;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        max-width: 300px;
        padding-bottom: 40px;
        z-index: 1;
    }
    .logo{
        width: 78px;  
    }
    .section-photo {
        position: relative;
        left: 0px;
        top: 386px;
    }
    .arrow {
       display: none;
    }
    .number {
        font-size: 26px;
    }
    .section-main-text {
        font-size: 16px;
        padding-left: 0px;
    }
    .details {
        width: 340px;
        height: 65px;
        margin-left: 0px;
    }
    .details:hover {
        width: 340px;
        height: 65px;
        margin-left: 0px;
    }
    .section-events {
        margin-top: 508px;
        padding-bottom: 40px;
        margin-bottom: 80px;
    }
    .section-events {
        margin-top: 470px;
        margin-right: 10px;
        margin-left: 10px;
    }
    .title-h3 {
        font-weight: 700;
        font-size: 23px;
    }
    
.nav-social:last-child{
padding-right:0;
}

.social{
    padding-right:25px;
    padding-left:0;
}

.events{
    display:none;
}
.events-mobile{
    display:flex;
    height: 310px;
    justify-content: space-between;
   
}

.events-container {
    background: linear-gradient(180deg, rgba(251,241,56,0.3) 0%, rgba(253, 249, 182, 0) 100%);
    height: 310px;
    margin: 0 auto;
    padding: 0 auto;
}
.events-01 {
    background-image: url(/img/maraphon.png);
    width: 165px;
    height: 100%;
    background-size: cover;
    
}
.events-02{
    background-image: url(/img/Vebinar\ 1.png);
    width: 165px;
    height: 100%;
    background-size: cover;
}
.events-03-mobile{
    background-image: url(/img/Vebinar\ 2.png);
  height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top:10px;
}

.events-01,
.events-02{
    height: 310px;
}

.events-03-mobile{
    height: 310px;
}


.date{
    font-size: 12px;
    padding-right:20px;
    padding-top:20px;
    padding: 0 auto;
    margin: 0 auto;
}
.name{
    font-size: 16px;
    padding-right:20px;
    
}
/*.events-container:hover .participate{
    background: #2B3541;
    box-shadow: 0px 13px 24px rgba(70, 86, 106, 0.28);
    font-size: 24px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FBF138;
    width: 30px;
    height: 30px;
    bottom:0;
    /*margin:0;*/
   /* margin-left: 30px;
    padding-top:15px;
    padding-bottom: 15px;
    transition: 0.2ms ease;
    right: 130px;
}*/
.events-border{
    width: 87px;
    font-size: 12px;
    margin-top: 152px;
    margin-left:0;
    align-items: center;
}
.events-border p{
    align-items: center;
    padding:0;
}
.events-container p {
    margin: 0 auto;
    background: transparent;
    align-items: center;
}
.events-container a{
    z-index:1;
   /* margin-top: 381px;*/
    /*padding: 6px 9px;*/
    padding-bottom:50px;
    margin-left: 104px;
}

.events-container:hover .events-border{
    background: transparent;
    color: transparent;
    margin-bottom:0;
}
.events-container:hover .participate {
    background: transparent;
    color: transparent;
    margin-bottom:0;
    box-shadow: none;
}
.participate{
    background: #2B3541;
    box-shadow: 0px 13px 24px rgba(70, 86, 106, 0.28);
    font-size: 24px;
    line-height: 150%;
    color: #FBF138;
    width: 30px;
    height: 30px;
    bottom:-183px;
    margin:0;
   margin-left: 30px;
    padding-bottom: 15px;
    transition: 0.2ms ease;
    right: 0;
position:relative;
}
.events-03-mobile .participate{
    background: #2B3541;
    box-shadow: 0px 13px 24px rgba(70, 86, 106, 0.28);
    font-size: 24px;
    line-height: 150%;
    color: #FBF138;
    width: 30px;
    height: 30px;
    bottom:-183px;
    margin:0;
    margin-left: 206px;
    padding-bottom: 15px;
    transition: 0.2ms ease;
    right: 0;
    position:relative;
}
.form-participate {
    /*position: fixed;*/
    width: 100%;
    height: 100%;
    top: 64px;
    left: 0px;
    display: flex;
    flex-direction: column;
    width: 360px;
    height: 505px;
    position: center;
    background: #F3F3F3;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: all 0.8s ease 0s;
    transform: translate(0px, -100px);
}
.form-participate-circle {
    position: absolute;
    left: 78px;
    top: 32px;
    height: 41px;
    width: 41px;
}
.form-participate-title {
    font-size: 16px;
}
.form-participate-text {
    width: 301px;
    font-size: 16px;
    text-align: center;
    padding-left:15px;
}
.form-participate-body {
    padding: 30px 8px 80px 8px;
}  

.form-participate input[type="text"] {
    margin-bottom: 20px;
    margin-top: 16px;
    width: 340px;
    height: 65px;
    font-size: 16px;
}
.form-participate input[type="tel"] {
    margin-top: -8px;
    width: 340px;
    color: #2B3541;
    opacity: 0.5;
    font-size: 16px;
}
.form-participate-body-close {
    font-size: 22px;
}




.training-sport{
    display:none;
}
.training-sport-mobile{
    display:flex;
    flex-direction: column;
}
.card-box:hover .card-text-active {
    font-size: 12px;
    transform: translateY(50px);
    padding-left: 53px;
    padding-bottom: 15px;
    padding-top: 0px;
    padding-bottom: 16px;
    margin-left: 0;
    margin-top: -15px;
    
}
.section-training{
    margin-left: 10px;
    margin-right: 10px;
}
.training-date {
    font-size: 16px;
    color: #2B3541;
    opacity: 0.7;
}


    





.card-date {
    font-size: 16px;
}
.card-box{
position: relative;
}
.card-1,
.card-2,
.card-3,
.card-4,
.card-5,
.card-6{
    width: 340px;
    height: 114px;
    margin-top:10px;
}
.card-text-active:hover{
    font-size: 12px;
    line-height: 150%;
    color: #2B3541;
    margin:0;
    padding-top: 8px;
    position:absolute;
} 
    .card-img-1 {
        padding-top: 0;
        padding-bottom: 25px;
        height: 39px;
        width: 39px;  
        float:left;   
}
.card-img-2 {
    padding-top: 0;
    padding-bottom: 25px;
    height: 45px;
    width: 23px;     
}
.card-img-3 {
    padding-top: 0;
    padding-bottom: 25px;
    height: 25px;
    width: 46px;     
}
.card-img-4 {
    padding-top: 0;
    padding-bottom: 25px;
    height: 53px;
    width: 34px;     
}
.card-img-5 {
    padding-top: 0;
    padding-bottom: 25px;
    height: 40px;
    width: 35px;     
}

.card-img-6 {
    padding-top: 0;
    padding-bottom: 25px;
    height: 40px;
    width: 35px;     
}

.card-box .card-title {
    font-size: 14px;
    padding-top: 15px;
    padding-left: 53px;
    float: right;
}



}